{{define  "index"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{.}}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="../static/lauyi/css/modules/code.css" />
        <link rel="stylesheet" href="../static/layui/css/layui.css"/>
        <link rel="icon" href="../favicon.ico"/>
    </head>
    <body>
        <!--整体容器-->
        <div>
            <!--导航-->
            <div>test</div>
            <!--内容-->
            <div>
                <!--左边栏-->
                <div></div>
                <!--中间栏-->
                <div></div>
                <!--右边栏-->
                <div></div>
            </div>
        </div>
    </body>
</html>
{{end}}