@charset "utf-8";

body{
    background-color: #eeeeee;
}

.allwidth{
    width: 1270px;
}

#chead{
    
    margin: auto;
}

#main{
    width: 100%;
    height: 100%;
    margin: auto;
    min-width: 800px;
    display: block;
    margin-top: -10px;
}

#top{
    width: 1270px;
    height: 290px;
    margin: auto;
}

#middle{
    width: 1270px;
    height: auto;
    min-height: 500px;
    margin: auto;
}

.left{
    float: left;
    background-color:#F8F8F8;
    width: 20%;
    min-width: 200px;
    margin-top: 2px;
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
    max-width: 280;
}

.middle{
    float: left;
    width: 59%;
    min-width: 480px;
    margin-left: 6px;
    margin-top: 2px;
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
    max-width: 800px;
}

.right{
    float:left;  
    min-width: 120px;
    margin-left: 6px;
    margin-top: 2px;
    background-color:#F8F8F8;
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
    width: 250px;
    max-width: 280px;
}

#date .layui-laydate-main{
    width:250px;
}

#user{
    height: 280px;
}

#m_left_nav{
    min-height: 400px;
    background-color: #393D49;
}

.left-tree{
    width: 100%;
}

#m_continer{
    min-height: 400px;
}

#m_right{
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
    min-width: 240px;
    height: 400px;
}

#foot{
    height: 40px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

#f_text{
   padding-top: 5px;
   font-size: 16px;
   color: gray;
}
#tx{
    background-color: wheat;
    width: 120px;
    height: 120px;
    position:relative;
    left:28%;
    top: 20px;
    border-radius: 60px;
}
