@charset "utf-8";

html{
    background-color: #eeeeee;
}

 body{
     width: 100%;
     height: 100%;
     min-width: 1200px;
 }
 .allwidth{
    width: 1200px;
    margin: auto;
    display: block;
}

.clearfloat{
    clear: both;
}

#nav{
    margin: auto;
    position: fixed;
    z-index: 99;
    display: block;
}

#zhanwei{
    width: 100%;
    height: 65px;
    
}

#main{
    width: 100%;
    height: auto;
    margin: auto;
}

.left{
    float: left;
    background-color:#F8F8F8;
    width: 20%;
    min-width: 200px;
    margin-top: 2px;
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
}

.middle{
    float: left;
    width: 59%;
    min-width: 480px;
    margin-left: 6px;
    margin-top: 2px;
    /*
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
    
    background-color:#F8F8F8;
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
    max-width: 800px;*/
}

.right{
    float:left;  
    min-width: 120px;
    margin-left: 6px;
    margin-top: 2px;
    background-color:#F8F8F8;
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
    width: 230px;
    max-width: 230px;
}

#user{
    height: 280px;
    overflow: hidden;
}
#f_text{
    padding-top: 5px;
    font-size: 16px;
    color: gray;
 }
 #tx{
     background-color: wheat;
     width: 140px;
     height: 140px;
     position:relative;
     left:23%;
     top: 15px;
     border-radius: 70px;
     border: 0.5px solid #dddddd;
 
 }
 
 #tx img{
     width: 100%;
     height: 100%;
     border-radius: 69px;
 }
#user_info{
    top: 0px;
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
}

#user_info h5{
    padding-top: 15px;
    color: #251f1f;
}

#user_info p{
   color:  #292929;
   font-size: 13px;
   line-height: 13px;
   position: relative;
   bottom: 5px;
}

#email{
    color: #292929;
}
#summary {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    vertical-align: auto;
    position: relative;
    bottom: 6px;

}


#summary a:hover{
    color: #01AAED;
}

#m_left_nav{
    height: 100%;
    width: 100%;
    /*
    background-color: #393D49;
    */
    background-color: red;
}

#m_left ul{
    margin-bottom: 0px;
}

#m_left dl{
    margin-bottom: 0px;
}

.lsm-sidebar{
    height: auto;
    width: 100%;
    background-color: #393D49;

}

#date .layui-laydate-main{
    width:230px;
}

.left-tree{
    width: 100%;
    height: auto;
}

#m_nav{
    margin-bottom: 0px;
}

.m_continer{
    min-height: 200px;
    height: auto;
    width: 100%;
    margin-bottom: 5px;
    
    
    /*
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
    */
    background-color:#F8F8F8;
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
}

#m_right{
    border: 0.5px solid #dddddd;
    box-shadow: #dddddd 0px 0px 10px 2px;
    width: 100%;
    height: auto;
}

#f_bottom{
    height: auto;
    margin: auto;
    text-align: center;
    height: 30px;
    line-height: 30px;
    /*
    position: fixed;
    */
    bottom: 0;
    width: 100%;
    text-align: center;
    /*
    background: #393D49;
    color: #E7E7E7;
    */
    color: #393D49;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;

}
#w_title{
    padding-top: 10px;
    text-align: center;
    height: 35px;
    color: #999;
}

#w_title a {
    color: #777;
    font-size: 23px;
    font-family: Langdon;  
}

#w_title a:hover{
    color: #01AAED;
    cursor: pointer;
}
#w_tags{
    text-align: center;
    color: #999;
    font-size: Langdon;
}

#w_content{
    border: 0.5px;
    padding: 10px 20px 10px 20px;
    min-height: 120px;
    max-height: 120px;
    height: auto;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
}

#w_content span{
    display:block;
    text-indent: 2em;
    overflow-wrap: break-word;   
}

#w_footer{ 
    width: 100%;
    height: auto;
    margin-top: 6px;
    margin-bottom: 4px;
    text-align: right;

}

#w_footer a{
    
    padding: 20px;
    text-decoration: underline;
    color: #01AAED;
    font-size: 14px;   
}

#w_footer a:hover{
    text-decoration: underline;
    color: #01AAED;
    cursor: pointer;
}

