@charset "utf-8";

#modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 99;
}

#about{
    position: relative;
	background-color: #eeeeee;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
    width: 50%;
    height: 50%;
    top: 25%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}
#a_title{
    height: 15%;
    width: 100%;
}
#a_content{
    height: 75%;
    width: 100%;
}
#close-btn{
    position: relative;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:25%; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:25%; opacity:1}
}