{{define "classifycfg"}}
<div id="bgindex">
    <div class="layui-btn-group demoTable">
        <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
        <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
        <button class="layui-btn" data-type="isAll">验证是否全选</button>
      </div>
       
      <!--<table class="layui-table" lay-data="{url:'/backstage/getclassjson/', page:true, id:'idTest'}" lay-filter="demo">
        <thead>
          <tr>
            <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'name', width:80}">分类名称</th>
            <th lay-data="{field:'icon', width:80, sort: true}">图标</th>
            <th lay-data="{field:'brief', width:80}">描述</th>
            <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
          </tr>
        </thead>
      </table>-->
      <table class="layui-hide" id="classifytb" lay-filter="classify"></table> 
</div>
<!--<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>-->
<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
          elem:'#classifytb'
          ,url:'/backstage/getclassjson'
          ,cellMinWidth: 200
          ,cols:[[
            {checkbox: true, fixed: false}
            ,{field:'id',title:'ID',sort:true,fixed:false}
            ,{field:'name',title:'分类名称'}
            ,{field:'icon',title:'标签图标',template:function(d){
              
            }}
            ,{field:'brief',title:'描述'}
          ]]
        });
    });
</script>
{{end}}