{{define "navigate"}}
 <div id="nav" class="allwidth">
     <!--导航-->
     <div>
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item">
                <a href="/"><i class="iconfont icon-zhuye"></i>&nbsp;主页</a>
            </li>
            <li class="layui-nav-item">
                <a href="/article/articlefile"><i class="iconfont icon-wenzhang-copy"></i>&nbsp;文章归档</a>
            </li>
            <li class="layui-nav-item">
                <a href="https://github.com/t115liyanpeng?tab=repositories">
                    <i class="iconfont icon-GitHub"></i>&nbsp;
                    开源项目</a>
            </li>
            <li class="layui-nav-item">
                <a>
                    <i class="iconfont icon-ziyuan"></i>&nbsp;
                    书籍</a>
            </li>
            <li class="layui-nav-item">
                <a>
                    <i class="iconfont icon-guanyu"></i>&nbsp;
                    关于</a>
            </li>   
            <!--<li class="layui-nav-item  layui-layout-right">
                <a href="/user/login">
                    <img src="../../static/images/unlogin_user.png" class="layui-nav-img" />
                    登录
                </a>
            </li>-->                  
        </ul>
    </div>
</div>
<div id="zhanwei"></div>
{{end}}