@charset "utf-8";

html{
    background-color: #eeeeee;
}

 body{
     width: 100%;
     height: 100%;
     min-width: 1200px;
     font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
 }
 #content{
     width: 100%;
     min-width: 1000px;
     height: 100%;
     min-height: 600px;

 }
 #c_left{
     width: 15%;
     height: 100%;
     min-height: 550px;
     float: left;
 }
 #c_right{
     width: 85%;
     height: 100%;
     min-height: 550px;
     float: left;
     background-color: #eeeeee;
 }
 #c-r-content{
    width: 100%;
    height: 100%;
 }
#bgindex{
    margin: 10px;
}

 #dashconter{
     width: 930px;
     height: 200px;
     background-color: white;
     padding: 3;
 }
.dsashboard{
    width: 300px;
    height: 200px;
    
    border-radius: 5px;
    margin-right: 10px;
    padding: 0px;
    float: left;
}
#dcontent{
    margin: 30px;
}
.dtitle{
    width: 100%;
    height: 30px;
    vertical-align: middle;
    color: #FFFF;
}
.dcount{
    color: #FFFF;
    font-size: 60px;
    height: 100px;
    vertical-align: middle;
}
.dbotom{
    border-top: 1px;
    border-color: white;
    vertical-align: middle;
}
.dbotom span:hover{
    cursor: pointer;
}
.clear{
     clear: both;
 }
#baseconfig{
    width: 100%;
    height: 100%;
}
#configsave{
    margin-left: 12px;
    margin-top: 10px;
}
.conf{
    width: auto;
    height: auto;
    padding: 0px 10px;
}
.layui-elem-field {
    border-color: #2F4056;
}


#f_bottom{
    height: auto;
    margin: auto;
    text-align: center;
    height: 30px;
    line-height: 30px;
    /*
    position: fixed;
    */
    bottom: 0;
    width: 100%;
    text-align: center;
    /*
    background: #393D49;
    color: #E7E7E7;
    */
    color: #393D49;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;

}